/* ------- Main modal rewriting ------ */
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal {
  margin-left: -283px;
  background-color: rgba(0, 0, 0, .3);
  border: 6px solid rgba(0, 0, 0, .3);
}

.modal > div {
  background: #D0EAFF;
  border: none;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  box-shadow: none;
}

.modal > div:first-child {
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #000;
  color: #FFF;
  text-shadow: 0 -1px 0 #103B69;
  background-image: linear-gradient(-90deg, #4479B3 0%, #275585 100%);
  background-image: -o-linear-gradient(-90deg, #4479B3 0%, #275585 100%);
  background-image: -moz-linear-gradient(-90deg, #4479B3 0%, #275585 100%);
  background-image: -webkit-linear-gradient(-90deg, #4479B3 0%, #275585 100%);
  background-image: -ms-linear-gradient(-90deg, #4479B3 0%, #275585 100%);
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: inset 0px 1px 0px 0 #628FBF;
  -webkit-box-shadow: inset 0px 1px 0px 0 #628FBF;
  box-shadow: inset 0px 1px 0px 0 #628FBF;
}

.modal > div:nth-child(2) {
  padding-bottom: 0;
  -moz-box-shadow: inset 0 1px #123D79;
  -webkit-box-shadow: inset 0 1px #123D79;
  box-shadow: inset 0 1px #123D79;
}

.modal > div:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #000;
}

.modal > div:last-child > .btn {
  margin-right: 2px;
  margin-left: 2px;
}

/* ------ Alert manager ------ */
.alert-manager {

}

.alert-manager table.list {
  width: 540px;
  margin-top: 8px;
}

.alert-manager td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.alert-manager td.btn.btn-warning {
  padding: 2px 6px 1px;
}

.alert-manager p.empty {
  text-align: center;
  margin: 10px;
  color: #7C7C7C;
}

/* ------ Alert creator ------ */
.alert-creator .modal-body select,
.alert-creator .modal-body input {
  width: 168px;
  margin: 0;
  outline:none;
  color: #fff;
  border: 1px solid #3563A3;
  background: #4479B3;
  text-shadow: 0 -1px #084198;
  -moz-box-shadow:    inset 0px 1px 0 0 #779FC0;
  -webkit-box-shadow: inset 0px 1px 0 0 #779FC0;
  box-shadow:         inset 0px 1px 0 0 #779FC0;
}

.alert-creator .modal-body input {
  height: 22px;
}

.alert-creator .modal-body select {
  padding: 0 10px;
  height: 32px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

.alert-creator .modal-body > span {
  position: relative;
}

.alert-creator .modal-body > span:after {
  content: '<>';
  font: 11px "Consolas", monospace;
  color: #fff;
  text-shadow: -1px 0 #084198;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 9px;
  top: 2px;
  padding: 0 3px 2px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  pointer-events: none;
}