body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #3F6FA3;
}

input, button, select, textarea {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
  color: #2c7bd0;
}

.pictos {
  font-family: 'Pictos Custom';
  font-size: 1.3em;
  vertical-align: middle;
  margin-top: 3px;
  margin-right: 10px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.logo {
 background: url('/img/logo.png');
}

.logo.full {
 width: 440px;
 height: 220px;
 background-position: 100%;
 background-size: 100% auto;
 margin: 50px auto;
}

.btn.btn-primary[disabled],
.btn.btn-primary.disabled,
.btn.btn-primary:hover,
.btn.btn-primary {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: none;
  background-image: linear-gradient(-90deg, #2FA0FF 0%, #2C7ACF 100%);
  background-image: -o-linear-gradient(-90deg, #2FA0FF 0%, #2C7ACF 100%);
  background-image: -moz-linear-gradient(-90deg, #2FA0FF 0%, #2C7ACF 100%);
  background-image: -webkit-linear-gradient(-90deg, #2FA0FF 0%, #2C7ACF 100%);
  background-image: -ms-linear-gradient(-90deg, #2FA0FF 0%, #2C7ACF 100%);

  border: 1px solid #3563A3;

  -moz-box-shadow:    inset 0px 1px 0 0 #96C7EF;
  -webkit-box-shadow: inset 0px 1px 0 0 #96C7EF;
  box-shadow:         inset 0px 1px 0 0 #96C7EF;

  color: #fff;
  line-height: 16px;
  text-shadow: 0px -1px 0px #084198;
}

.btn.btn-warning[disabled],
.btn.btn-warning.disabled,
.btn.btn-warning:hover,
.btn.btn-warning {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: none;

  background-image: linear-gradient(-180deg, #FFC67B 0%, #E99426 100%);
  background-image: -o-linear-gradient(-90deg, #FFC67B 0%, #E99426 100%);
  background-image: -moz-linear-gradient(-90deg, #FFC67B 0%, #E99426 100%);
  background-image: -webkit-linear-gradient(-90deg, #FFC67B 0%, #E99426 100%);
  background-image: -ms-linear-gradient(-90deg, #FFC67B 0%, #E99426 100%);

  //border: 1px solid #BC8133;
  border: 1px solid #A26D27;

  -moz-box-shadow:    inset 0px 1px 0px 0px #FFE8C9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #FFE8C9;
  box-shadow:         inset 0px 1px 0px 0px #FFE8C9;

  color: #fff;
  line-height: 16px;
  text-shadow: 0px -1px 0px #D29B52;
}


.btn.btn-primary[disabled],
.btn.btn-warning[disabled],
.btn.btn-primary.disabled,
.btn.btn-warning.disabled {
  opacity: 0.8;
}

/* ------ Error manager ------ */

.error-manager {
  position: absolute;
  top: 10px;
  right: 10px;
}

.error-manager .error {
  opacity: 0;
  text-align: left;
  margin: 3px;
  padding: 7px 10px 5px;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  background: #234E7C;

  border: 1px solid #072647;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity linear .5s;
  -moz-transition: opacity linear .5s;
  transition: opacity linear .5s;
}

.error-manager .error.show {
  opacity: 1;
}