.status.menu {
  width: 400px;
  min-height: 100px;
}

.status.menu ul {
  list-style: none;
  margin: 0 0 3px 0;
  padding: 0;
}

.status.menu ul.parent > li:last-child ul.child {
  margin: 0 0 3px 0;
}

.status.menu ul.parent > li:last-child > ul.child {
  margin: 0;
}

.status.menu ul > li {
  position: relative;
  padding: 0 0 0 20px;
}

.status.menu ul.parent > li,
.status.menu ul.parent {
  padding: 0;
  margin: 0;
}

.status.menu ul.parent {
  position: relative;
  overflow: hidden;
  border-top: 1px solid rgba(0,0,0,.3);
  background: #164271;
  padding-bottom: 10px;
}

.status.menu ul li > table,
.status.menu ul li > ul {
  display: none;
}

.status.menu ul li.open > table,
.status.menu ul li.open > ul {
  display: block;
}

.status.menu li .box {
  position: relative;
  color: #fff;
  text-shadow: 0 -1px 0 #103B69;
  display: block;
  padding: 7px;
  cursor: pointer;

  background: #234E7C;
  -moz-box-shadow:    inset 0px 1px 0px 0 #2D5887, inset 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0px 1px 0px 0 #2D5887, inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow:         inset 0px 1px 0px 0 #2D5887, inset 0 -1px 0 rgba(0,0,0,.3);
}

.status.menu li.open > .box {
  -moz-box-shadow:    0px 2px 2px 0 rgba(0,0,0,0.1), inset 0px 1px 0px 0 #2D5887, inset 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1), inset 0px 1px 0px 0 #2D5887, inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow:         0px 2px 2px 0 rgba(0,0,0,0.1), inset 0px 1px 0px 0 #2D5887, inset 0 -1px 0 rgba(0,0,0,.3);
}

.status.menu ul.child > li:first-child > .box {
  -moz-box-shadow:    0px 2px 2px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow:         0px 2px 2px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,.3);
}

.status.menu ul.parent > li::before,
.status.menu ul.child > li::before {
  position: relative;
  display: block;
  z-index: 10000;
  float: left;
  width: 0;
  height: 0;
  margin: 11px 10px 0 10px;
  border-color: transparent;
  border-left-color: #fff;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.status.menu ul.parent > li.open::before,
.status.menu ul.child > li.open::before {
  margin: 14px 6px 0 10px;
  border-color: transparent;
  border-top-color: #fff;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: " ";
}

.status.menu table.status,
.status.menu ul.status {
  position: relative;
  margin-top: 3px;
  min-width: 400px;
  max-width: 400px;
}

.status.menu table.status tr td {
  padding: 7px 0;
  color: #fff;
  text-shadow: 0 -1px 0 #0C3057;
  width: 100px;
  max-width: 100px;
  text-align: right;
}

.status.menu table.status tr td.icon {
  width: 20px;
  padding-left: 28px;
}

.status.menu table.status tr td.actions {
  position: absolute;
  right: 0;
  color: #052547;
  text-shadow: 0 1px 0 #2F6095;
}

.status.menu table.status tr td.actions > .pictos {
  cursor: pointer;
}

.status.menu table.status tr td.actions > .pictos.active {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #052547;
}

.status.menu table.status tr td.actions > .pictos.favorite.active {
  color: #E4950F;
  text-shadow: 0 1px 0 #925B00;
}