.status.menu {
  width: 400px;
  min-height: 100px;
  background: #555;
}

.status.menu ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}

.status.menu ul.parent > li:last-child ul.child {
  margin: 0;
}

.status.menu ul > li {
  position: relative;
  padding: 0 0 0 20px;
}

.status.menu ul.parent,
.status.menu ul.parent > li {
  padding: 0;
  margin: 0;
}

.status.menu ul.parent {
  position: relative;
  overflow: hidden;
  border: 1px solid #103B69;
  background: #103B69;
}

.status.menu ul li > ul {
  display: none;
}

.status.menu ul li.open > ul {
  display: block;
}

.status.menu li .box {
  position: relative;
  color: #fff;
  display: block;
  padding: 7px;

  background: #234E7C;

  -moz-box-shadow:    inset 0px 1px 0px 0 #3F6C9C, inset 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0px 1px 0px 0 #3F6C9C, inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow:         inset 0px 1px 0px 0 #3F6C9C, inset 0 -1px 0 rgba(0,0,0,.3);
}

.status.menu li.open > .box {
  -moz-box-shadow:    0px 2px 2px 0 rgba(0,0,0,0.1), inset 0px 1px 0px 0 #3F6C9C, inset 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1), inset 0px 1px 0px 0 #3F6C9C, inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow:         0px 2px 2px 0 rgba(0,0,0,0.1), inset 0px 1px 0px 0 #3F6C9C, inset 0 -1px 0 rgba(0,0,0,.3);
}

.status.menu ul.child > li:first-child > .box {
  -moz-box-shadow:    0px 2px 2px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow:         0px 2px 2px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,.3);
}

.status.menu ul.parent > li::before,
.status.menu ul.child > li::before {
  position: relative;
  display: block;
  z-index: 10000;
  float: left;
  width: 0;
  height: 0;
  margin: 11px 10px 0 10px;
  border-color: transparent;
  border-left-color: #cccccc;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
}

.status.menu ul.parent > li.open::before,
.status.menu ul.child > li.open::before {
  margin: 14px 6px 0 10px;
  border-color: transparent;
  border-top-color: #cccccc;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: " ";
}

.status.menu ul.status {
  position: relative;
  background: #aaa;
}

.status.menu ul.status > li {
  padding: 7px 7px 5px;
  background: #103B69;
  color: #fff;
}