
      </div> <!-- /.wrapper-inner -->
    </div> <!-- /.wrapper -->    
    
    <footer>
    &copy; 2012 Teleportd, Ltd &nbsp;&nbsp;
    <a href="/assets/txt/dattss_privacy_policy.txt" target="_blank">Privacy policy</a> - 
    <a href="/">Home</a> - 
    <a href="mailto:team@dattss.com">Contact Us</a> - 
    <a href="http://webchat.freenode.net/">#DaTtSs</a>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33583953-1']);
      _gaq.push(['_setDomainName', 'dattss.com']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </body>
</html>
