<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>DaTtSs - statsd+graphite as a service</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Icons 
    <link rel="shortcut icon" href="http://teleportd.com/assets/ico/favicon.ico">
    -->

    <!-- Styles -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/dattss.css" rel="stylesheet">
    
    <!-- Pictos -->
    <link href="//get.pictos.cc/fonts/1770/8" rel="stylesheet" type="text/css">
    
    <!-- Typekit -->
    <script type="text/javascript" src="http://use.typekit.com/axu1dmb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Libs -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/jquery-1.7.2.min.js"></script>
    <script src="/lib/cell-0.3.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/d3.v2.min.js"></script>
    
  </head>
  <body>
    
    <!-- Wrapper
     ================================================== -->
    <div class="wrapper">
      <div class="wrapper-inner">
        
        <!-- Nav Bar
        ================================================== -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="brand tk-larabiefont" href="/">DaTtSs</a>
              <div class="nav-collapse">
                {{#home}}
                <ul class="nav">
                  <li class="active">
                    <a href="#" data-toggle="tab" data-target="#stats-container">
                      <span class="pictos">s</span> Statistics 
                    </a>
                  </li>
                  <!--
                  <li class="errors">
                    <a href="#" data-toggle="tab" data-target="#errors-container">
                      <span class="pictos">E</span> Errors 
                    </a>
                  </li>
                  <li class="warnings">
                    <a href="#" data-toggle="tab" data-target="#warnings-container">
                      <span class="pictos">W</span> Warnings 
                    </a>
                  </li>
                  <li class="alerts">
                    <a href="#" data-toggle="tab" data-target="#alerts-container">
                      <span class="pictos">Q</span> Alerts 
                    </a>
                  </li>
                  -->
                  {{^demo}}
                  <li class="install">
                    <a href="#" data-toggle="tab" data-target="#install-container">
                      <span class="pictos">i</span> Install 
                    </a>
                  </li>
                  {{/demo}}
                </ul>
                {{/home}}
                <ul class="nav pull-right">
                  {{#user}}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="pictos">n</span>
                        {{email}}
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/s/home">Home</a></li>
                        <li><a href="/s/reset">Change password</a></li>
                        <li class="divider"></li>
                        <li><a href="/s/signout">Logout</a></li>
                      </ul>
                    </li>
                  {{/user}}
                  {{^user}} 
                    <li class="signup"><a href="/s/signup"><span class="pictos">u</span> Signup</a></li>
                    <li><a href="/s/login"><span class="pictos">l</span> Login</a></li>
                  {{/user}}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        
        <!-- Body
        ================================================== -->

