{{> header}}

<div class="tab-content">
  
  {{#demo}}
  <div class="dattss-demo-disclaimer">
    These are <strong>Live Statistics</strong> from the DaTtSs infrastructure. Click on <span class="pictos">p</span> for historical plots.
  </div>
  {{/demo}}

  <div class="container tab-pane active" id="stats-container">
    <div id="dattss-stats-top" class="row"></div>

    <script src="/assets/js/process_c.js"></script>
    <script src="/assets/js/current_c.js"></script>
    <script src="/assets/js/graph_c.js"></script>
    <script src="/assets/js/c_graph_c.js"></script>
    <script src="/assets/js/g_graph_c.js"></script>
    <script src="/assets/js/ms_graph_c.js"></script>
    <script src="/assets/js/board_c.js"></script>
    <script src="/assets/js/stats_ct.js"></script>
  </div>

  <!--
  <div class="container tab-pane" id="errors-container">
    <div id="dattss-errors-top" class="row">
      <div class="span4 offset4 dattss-notice">
	Errors Coming Soon...
      </div>	
    </div>
  </div>

  <div class="container tab-pane" id="warnings-container">
    <div id="dattss-warnings-top" class="row">
      <div class="span4 offset4 dattss-notice">
	Warnings Coming Soon...
      </div>	
    </div>
  </div>

  <div class="container tab-pane" id="alerts-container">
    <div id="dattss-alerts-top" class="row">
      <div class="span4 offset4 dattss-notice">
	Alerts (Email, SMS) Coming Soon...
      </div>	
    </div>
  </div>
  -->

  {{^demo}}
  <div class="container tab-pane" id="install-container">
      {{> install}}
    </div>
  </div>
  {{/demo}}

  <script src="/assets/js/main.js"></script>
  
  {{#demo}}
  <script type="text/javascript">
    DATTSS.demo = true; 
  </script>
  {{/demo}}
</div>

{{> footer}}
