<div class="container-fluid">
  <div class="row-fluid">
    <div id="dattss-top"></div>
  </div>
</div>

<script src="/assets/js/process_c.js"></script>
<script src="/assets/js/current_c.js"></script>
<script src="/assets/js/main_ct.js"></script>
