<div class="container-fluid">
  <div class="row-fluid">
    <br/>
    <div>
      <a href="">+</a> <strong>home</strong> <span style="color: #ddd">[118m]</span> <span style="color: green">1239 <span style="color: #ddd">[12.3]</span></span> <span style="color:orange">45 </span>
    </div>
    <div>
      <a href="">+</a> <strong>post</strong> <span style="color: #ddd">[98m]</span> 
    </div>
  </div>
</div>

