<div class="container">
  <div id="dattss-top" class="row"></div>
</div>

<script src="/assets/js/process_c.js"></script>
<script src="/assets/js/current_c.js"></script>
<script src="/assets/js/c_graph_c.js"></script>
<script src="/assets/js/board_c.js"></script>
<script src="/assets/js/main_ct.js"></script>
