<div class="dattss-install">
  <div class="row">
    <div class="span7 offset2">
      <pre class="key"> YOUR_AUTH_KEY = <span class="value">{{{auth}}}</span> </pre>
    </div>
  </div>

  <div class="row">
    <div class="span7 offset2">
      <br/>
      <script src="https://gist.github.com/3086787.js?file=dattss.js"></script>
    </div>
  </div>
  
  <div class="row">
    <div class="span7 offset2">
      <h2>Get Help & Get Involved</h2>
      <ul>
        <li>Chat at #dattss on <a href="http://webchat.freenode.net/">irc.freenode.net</a></li>
        <li>Email us at <a href="mailto:team@dattss.com">team@dattss.com</a></li>
      </lu>
    </div>
  </div>

</div>
