{{> header}}

<div class="container dattss-landing" id="landing-container">

  <div class="row">
    <div class="span12 title">
      <!--
      <h1 class="tk-larabiefont">DaTtSs</h1>
      -->
      <center>
        <h1>Statistics Aggregation as a Service</h1>
        <h2>The insanely simple cloud-based replacement for <i>statsd + graphite</i></h3>
      </center>
    </div>
  </div>

  <div class="row">
    <div class="span4 offset2 call">
      <center>
        <a href="/demo/home" class="btn btn btn-call btn-demo">Live Demo</a>
      </center>
    </div>
    <div class="span4 call">
      <center>
        <a href="/s/signup" class="btn btn-primary btn-call btn-signup">Sign Up & Pricing</a>
      </center>
    </div>
  </div>

  <div class="row more">
    <div class="span4">
      <h2>Getting Started</h2>
    </div>
    <div class="span7">
      <script src="https://gist.github.com/3086787.js?file=dattss.js"></script>
      <br/>
      <p>
        Opensource DaTtSs SDK: 
        <a href="http://github.com/teleportd/dattss-sdk" target="_blank">http://github.com/teleportd/dattss-sdk</a>
        <br/>
        API Documentation: 
        <a href="https://github.com/teleportd/dattss-sdk/wiki/DaTtSs-API-Documentation" target="_blank">
          https://github.com/teleportd/dattss-sdk/wiki/DaTtSs-API-Documentation
        </a>
      </p>
    </div>
  </div>

  <div class="row more">
    <div class="span4">
      <h2>Explore your Systems</h2>
    </div>
    <div class="span7 screenshot">
      <a href="/demo/home"><img src="/assets/img/screenshot.jpg"></a>
      <br/>&nbsp;
    </div>
  </div>

  <div class="row more">
    <div class="span4">
      <h2>How it Works?</h2>
    </div>
    <div class="span7">
      <p>
      DaTtSs client libraries pre-aggregate the statistics they receive before periodically
      sending partial-aggregates values to a DaTtSs server every 5s [configurable]. Each 
      process running a DaTtSs client library therefore only makes one HTTP request every 
      5s which is very lightweight and won't overcharge your systems. The use of TCP (HTTP) 
      makes connections reliable compared to UDP and pre-aggregation makes DaTtSs extremely 
      resilient to very large volumes of data-points aggregated. 
      </p>
      <p>
      <i> DaTtSs makes aggregating millions of data points per seconds a breeze, with no
        additional server to maintain, and no extra load on your systems or network. </i>
      </p>
    </div>
  </div>

  <div class="row more">
    <div class="span4">
      <h2>Get Support || Involved</h2>
    </div>
    <div class="span7">
      <ul>
        <li>Get in touch at <a href="mailto:team@dattss.com">team@dattss.com</a></li>
        <li>Join us at #dattss on <a href="http://webchat.freenode.net">irc.freenode.net</a></li>
      </ul>
    </div>
  </div>

</div>

{{> footer}}
