{{> header}}

<div class="container dattss-landing" id="landing-container">

  <div class="row">
    <div class="span12 title">
      <h1>DaTtSs: <span class="sub">Realtime Statistics Aggregation as a Service</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="span12 tagline">
      <h3>You can't Fix what you can't Track</h3>
      <br/>
      DaTtSs aggregates, stores and display in real time statistics captured from
      your systems. It helps you track counters, gauges or timers very easily and enables
      you to better understand your systems behaviours and status. For the ones who know
      it, DaTtSs is kind of a "statsd as a service".
    </div>
  </div>

  <div class="row register">
    <div class="span6 register">
      DaTtSs is currently in Beta, So...
      <br/><br/>
      <ul>
        <li>It's free</li>
        <li>We will make sure to contact you to know what you think about it</li>
        <li>Please get in touch at <a href="mailto:team@dattss.com">team@dattss.com</a></li>
        <li>Join us at #dattss on <a href="http://webchat.freenode.net/">irc.freenode.net</a></li>
      </ul>
    </div>
    <div class="span3 offset2">
      <a href="/demo/home" class="btn btn btn-call btn-demo">Live Demo</a>
      <a href="/s/signup" class="btn btn-primary btn-call btn-signup">Signup</a>
    </div>
  </div>

  <div class="row">
    <div class="span4 start">
      <h2 style="margin-top: 80px;">Getting Started</h2>
    </div>
    <div class="span7 offset1">
      <br/><br/>
      <script src="https://gist.github.com/3086787.js?file=dattss.js"></script>
    </div>
  </div>

  <div class="row">
    <div class="span4 explore">
      <h2 style="margin-top: 200px;">Explore your Systems</h2>
    </div>
    <div class="span7 offset1 screenshot">
      <br/>
      <a href="/demo/home"><img src="/assets/img/screenshot.jpg"></a>
    </div>
  </div>

  <div class="row">
    <div class="span4 explore">
      <h2 style="margin-top: 20px;">How it Works?</h2>
    </div>
    <div class="span7 offset1 screenshot">
      Since we're using HTTP (instead of UDP for statsd and other simialr solutions), 
      the client library pre-aggretages the statistics it receives before sending it 
      periodically every 5s to a DaTtSs server. Each process running a DaTtSs client 
      library only make one HTTP request every 5s which is super lightweight and won't 
      overcharge your systems. DaTtSs is therefore able to aggregate an unlimited 
      number of statistics at very high frequencies.
    </div>
  </div>

</div>

{{> footer}}
