<div class="container reset">
  <div class="form-box span4 offset4">
    <form action="/s/reset" method="post">
      <h4>Reset your password</h4>
      <div>
        {{#fail}}
          <p class="notice error"><span class="pictos">A</span> This email is unknown.</p>
        {{/fail}}
        {{^success}}
          <p><input type="text" name="email" placeholder="Email" {{#login}}value="{{email}}"{{/login}}></p>
          <p><button type="submit" class="btn btn-primary">Reset</button></p>
        {{/success}}
        {{#success}}
          <p class="notice txt success"><span class="pictos">q</span> We just sent you an email to reset your password.</p>
        {{/success}}
      </div>
    </form>
  </div>
</div>
