{{> header}}

<div class="container signup">
  <div class="form-box span4 offset4">
    <form action="/s/signup" method="post" id="signup-form">
      <h4>Sign up with your email</h4>
      <div>
        {{^success}}
          {{#exists}}
            <p class="notice error"><span class="pictos">A</span> This email is already signed up.</p>
          {{/exists}}
          {{#emailuse}}
            <p class="notice error"><span class="pictos">A</span> Wrong email</p>
          {{/emailuse}}
          {{#fail}}
            <p class="notice error"><span class="pictos">A</span> Something went wrong.</p>
          {{/fail}}
          <p><input type="text" id="email" name="email" placeholder="Email" value="{{email}}"></p>
          <p><button id="signup-button" type="submit" class="btn btn-primary btn-large" disabled="disabled">Sign Up</button></p>
        {{/success}}
        {{#success}}
          <p class="notice txt success"><span class="pictos">q</span> We just sent you an email to confirm your account.</p>
        {{/success}}
      </div>
    </form>
  </div>
  <script>
    {{#email}}
      $('#signup-button').removeAttr('disabled');
    {{/email}}
    $('#email').bind('change blur keyup mouseup', function() {
      var email_r = /^[a-zA-Z0-9\._\-\+]+@[a-z0-9\._\-]{2,}\.[a-z]{2,4}$/;

      if (email_r.exec($(this).val())) {
        $('#signup-button').removeAttr('disabled');
      } else {
        $('#signup-button').attr('disabled', 'disabled');
      }
    });
  </script>
</div>
<br/><br/><br/>
<div class="container pricing">
  <div>
    <div class="span4 offset4">
      <center>
        <h2>DaTtSs is free while in Beta</h2>
        <br/>
        <p>The envisioned pricing goes like $x / stat / month with all you can eat plans. Please feel free to reach out to <a href="mailto:team@dattss.com">team@dattss.com</a> if you feel like discussing about plans & pricing! We'd love hear from you.</p>
      </center>
    </div>
  </div>
</div>

{{> footer}}
