body {
  background: #333;
  color: white;
}

/* @begin topbar */

.navbar .brand {
  background: none;
  width: 1px;
}

.navbar > .navbar-inner {
  background: #eee;
  -webkit-box-shadow: none;
}

/* @end topbar */

/* @begin process */

.dattss-current {
  margin-top: 10px;
  margin-left: 10px;
}

.dattss-process .top {
}

.dattss-process td {
  padding-left: 10px;
  min-width: 40px;
}

.dattss-process td.name {
  padding-left: 10px;
  padding-right: 20px;
  color: white;
  font-weight: 900;
}

.dattss-process td.status {
  font-weight: 900;
  color: red;
}
.dattss-process td.status.on {
  color: green;
}

.dattss-process td.uptime {
  color: #777;
}


.dattss-process .st-type .pictos {
  font-size: 20px;
  color: #555;
}

.dattss-process tr.top {
  background-color: #3a3a3a;
}
.dattss-process tr.highlight {
  background-color: #333636;
}

.dattss-process td.st-name {
}

.dattss-process td.st-val {
  color: #bbb;
}
.dattss-process td.st-dyn {
  color: #666;
}

.dattss-process td.st-more {
  padding-left: 30px;
  opacity: 0.5;
}


/* @end process */
