<div class="alert-creator" ng-show="status">
  <modal ng-model="show_modal">
    <div class="modal-header">
      <h3>Alert me when <strong>{{status.pth}}'s</strong></h3>
    </div>
    <div class="modal-body">
      <span>
        <select ng-model="selected_key"
                ng-options="o.value as o.label for o in get_keys(status.typ)">
        </select>
      </span>
      <span>
        <select ng-model="selected_operator"
                ng-options="o.value as o.label for o in operators">
        </select>
      </span>
      <input type="number"
             ng-model="selected_value">
      </input>
    </div>
    <div class="modal-footer">
      <a class="btn btn-basic" ng-click="show_modal = false">Dismiss</a>
      <a class="btn btn-primary"
         ng-click="create_alert()"
         ng-disabled="!is_valid()">Confirm</a>
    </div>
  </modal>
</div>
