<div class="status menu">
  <script type="text/ng-template" id="node.html">
    <span class="box"
          ng-style="box_style(node)">{{node.label | uppercase}}</span>
    <!-- Children -->
    <ul class="child"
        ng-show="node.child.length > 0"
        ng-click="$event.stopPropagation()">
      <li ng-repeat="node in node.child"
          ng-include="'node.html'"
          ng-class="{ open: node.open }"
          ng-click="node.open = !node.open"></li>
    </ul>
    <!-- Status -->
    <table class="status"
           ng-style="align_left(node)"
           ng-click="$event.stopPropagation()"
           ng-show="node.status.c.ok || node.status.ms.ok || node.status.g.ok">
      <tbody>
        <tr ng-repeat="status in node.status"
            ng-show="status.ok">
          <td class="icon">
            <span class="pictos type">{{status.typ | iconStatus}}</span>
          </td>
          <td>
            <span ng-switch="status.typ">
              <span ng-switch-when="c">
                <span class="value">{{status.sum}}</span>
              </span>
              <span ng-switch-when="g">
                <span class="value">{{status.lst}}</span>
              </span>
              <span ng-switch-when="ms">
                <span class="value">{{status.avg}}</span>
              </span>
            </span>
          </td>
          <td>
            <span ng-switch="status.typ">
              <span ng-switch-when="c">
                <span class="average">[ {{status.avg}} ]</span>
              </span>
              <span ng-switch-when="g">
                <span class="average">[ {{status.avg}} ]</span>
              </span>
              <span ng-switch-when="ms">
                <span class="average">[ {{status.min}}, {{status.max}} ]</span>
              </span>
            </span>
          </td>
          <td class="actions">
            <!--span class="pictos favoris">f</span-->
            <span class="pictos view"
                  ng-click="toggle(status)"
                  ng-class="{ active: is_shown(status) }">
              v
            </span>
          </td>
      </tbody>
    </table>
    <!--ul class="status"
        ng-style="align_left(node)"
        ng-show="node.status.c.ok || node.status.ms.ok || node.status.g.ok">
      <li ng-repeat="status in node.status"
          ng-show="status.ok">
        <span class="pictos type">{{status.typ | iconStatus}}</span>
        <span ng-switch="status.typ">
          <span ng-switch-when="c">
            <span class="value">{{status.sum}}</span>
            <span class="average">[ {{status.avg}} ]</span>
          </span>
          <span ng-switch-when="g">
            <span class="value">{{status.lst}}</span>
            <span class="average">[ {{status.avg}} ]</span>
          </span>
          <span ng-switch-when="ms">
            <span class="value">{{status.avg}}</span>
            <span class="average">[ {{status.min}}, {{status.max}} ]</span>
          </span>
        </span>
      </li>
    </ul-->
  </script>

  <div class="title">
    Statistics
  </div>
  <ul class="parent">
    <li ng-repeat="node in status"
        ng-include="'node.html'"
        ng-class="{ open: node.open }"
        ng-click="node.open = !node.open"></li>
  </ul>
</div>
