<div>
  Hi!
  <br/><br/>
  Please follow this <a href="http://dattss.teleportd.com/s/password/{{{user_email}}}/{{{user_key}}}">link</a> to reset your password.
  <br/><br/>
  If you haven't requested a password reset, you can ignore this email. You current password is still valid and safe.
  <br/><br/>
  For any problem or suggestion, please feel free to contact us at <a href="mailto:dattss@teleportd.com">dattss@teleportd.com</a> or join us at #dattss on irc.freenode.net.
  <br/><br/>  
  Best,
  <br/><br/>
  DaTtSs
</div>
