<div>
  Please follow this <a href="http://dattss.teleportd.com/s/password/{{{user_email}}}/{{{user_key}}}">link</a> to reset your password
  <br/><br/>
  For any problem or suggestion, please feel free to contact us at <a href="mailto:dattss@teleportd.com">dattss@teleportd.com</a>
  <br/><br/>  
  Best,
  <br/><br/>
  DaTtSs
</div>
