<div>
  Hi!
  <br/><br/>
  Welcome on DaTtSs, we just created your account!
  <br/><br/>
  Please follow this <a href="http://dattss.com/s/password/{{{user_email}}}/{{{user_key}}}">link</a> to activate it and set your password.
  <br/><br/>
  For any problem or suggestion, please feel free to contact us at <a href="mailto:team@dattss.com">team@dattss.com</a> or join us at #dattss on irc.freenode.net.
  <br/><br/>  
  Best,
  <br/><br/>
  DaTtSs
</div>
