<div>
  Hi !
  <br/><br/>
  Thank you for signing up to DaTtSs, your account has been successfully created!
  <br/><br/>
  Please follow this <a href="http://dattss.teleportd.com/s/password/{{{user_email}}}/{{{user_key}}}">link</a> to confirm it and set your password.
  <br/><br/>
  For any problem or suggestion, please feel free to contact us at <a href="mailto:dattss@teleportd.com">dattss@teleportd.com</a>
  <br/><br/>  
  Best,
  <br/><br/>
  DaTtSs
</div>
