<div class="container reset">
  <div class="form-box span4 offset4">
    <form action="/password/{{{email}}}" method="post">
      <h4>Choose a new password</h4>
      <div>
        {{#fail}}
          <p class="notice txt error"><span class="pictos">A</span> The link you used to set your password is obsolete.</p>
        {{/fail}}
        {{#password}}
          <p><input type="password" name="pass" placeholder="Password"></p>
          <p><input type="hidden" name="key" value="{{key}}"></p>
          <p><button type="submit" class="btn btn-primary">Done</button></p>
        {{/password}}
      </div>
    </form>
  </div>
</div>